.header{
    flex: 1;
    flex-grow: inherit;
    background-color: #00807a;
    align-content: space-around;
    text-align: center;
    height: 5rem;
    padding: 1rem 0 0 1rem;
    border-bottom-right-radius: 100px;
    font: 700 1.2rem Lexend, sans-serif;

    a{
        text-decoration: none;
        color: rgb(236, 229, 229);
    }
}

.login{
    display: flex;
    margin: 10rem 0 10rem 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    form{
        input{
            width: 25rem;
            height: 2rem;
            border-radius: 6px;
            margin: 10px;
            text-align: center;
            font: 700 1.2rem Lexend;
        }   
    }
}

.tableDate{
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 7rem;
}
.tableHead {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 7rem;
    
    th, td {
        border-style: solid;
        border-color: lightgrey;
        text-align: center;
        font-weight: normal;
    }
}

.addStaff{
    display: flex;
    flex: 1;
    margin: 40px 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;

    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;    

        input{
            height: 2rem;
            width: 25rem;
            border-radius: 6px;
            margin: 5px 0 5px 0;
        }
    }   
}

.createRoster{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10rem;
    
    select{
        margin: 0.3rem;
        border-radius: 0.3rem;
        border-color: black;
    }
}

.homeContainer{
    h2{
        text-align: center;
        padding-top: 10rem;
        font: Lexend, sans-serif;
    }
}

.newuser{
    
}