.header{
    flex: 1;
    flex-grow: inherit;
    color: rgb(236, 229, 229);
    background-color: #00807a;
    align-content: space-around;
    height: 5rem;
    padding: 1rem 0 0 1rem;
    border-bottom-right-radius: 100px;
    font: 700 1.2rem Lexend, sans-serif;
}

.login{
    display: flex;
    margin: 20% 0 20% 0;
    flex-direction: column;
    align-items: center;
    text-align: center;

    form{
    
        input{
            width: 20rem;
            height: 2rem;
            border-radius: 6px;
            margin: 8px;
            text-align: center;
            font: 700 1.2rem Lexend;
        }   

        #bt{
            background-color: black;
        }

    }
}